/* stylelint-disable docusaurus/copyright-header */
.landingContent {
  color: var(--ifm-heading-color);
}

.navbar {
  background-color: transparent;
}

.valueContainer {
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

[data-theme='light'] .valueContainer {
  box-shadow: 0px 0px 1px rgb(124 58 162 / 50%),
    0px 10px 24px -7px rgb(145 0 218 / 10%);
}

[data-theme='dark'] .valueContainer {
  box-shadow: 0px 0px 1px var(--ifm-color-primary-dark);
}

.valueContainer p:last-child {
  margin-bottom: 0;
}

.valueContainerIcon {
  display: block;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 1rem;
}

.heroImage {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 960px !important;
  border-radius: 3px;
  box-shadow: rgb(84 70 35 / 15%) 0px 2px 8px, rgb(84 70 35 / 15%) 0px 1px 3px;
}

.heroBanner {
  gap: 32px;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  background-color: inherit;
  padding: 10rem 2rem;
}

.heroHeadingBanner {
  font-size: 5rem;
  font-weight: 900;
  color: var(--ifm-heading-color);
  text-align: center;
  margin-bottom: 4rem;
  background-image: linear-gradient(
    135deg,
    var(--ifm-color-primary-lighter),
    var(--ifm-color-primary-dark)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-box-decoration-break: clone;
}

.heroHeadingSecondary {
  font-size: 2.3rem;
  font-weight: 800;
  /* color: var(--ifm-color-primary); */
  margin-bottom: 2.5rem;
}

.logoBanner {
  background-color: var(--ifm-color-primary);
  padding: 4rem;
}

.bannerButton {
  background-image: linear-gradient(
    135deg,
    var(--ifm-color-primary-lighter),
    var(--ifm-color-primary-dark)
  );
}

.bannerButton:hover {
  background-image: linear-gradient(
    135deg,
    var(--ifm-color-primary-light),
    var(--ifm-color-primary-dark)
  ) !important;
}

.bannerButton:active {
  background-image: linear-gradient(
    135deg,
    var(--ifm-color-primary-dark),
    var(--ifm-color-primary-darkest)
  ) !important;
}

.heroSection {
  padding: 0 0 10rem 0;
  width: 100%;
}

.heroContainer {
  max-width: 1000px !important;
  font-size: 20px;
}

.heroList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.heroList li {
  margin: 0 0 2rem 0;
}

.container {
  font-size: 20px;
  margin: 0 auto;
  max-width: var(--ifm-container-width);
  padding: 0 var(--ifm-spacing-horizontal);
  width: 100%;
}

.containerLarge {
  max-width: var(--ifm-container-width-xl);
}

.containerCenter {
  text-align: center;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.lozenge {
  background-image: linear-gradient(
    135deg,
    var(--ifm-color-primary-lighter),
    var(--ifm-color-primary-dark)
  );
  color: var(--ifm-color-content-inverse);
  border-radius: 20px;
  padding: 6px 12px;
  font-weight: bold;
  margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 5rem 0;
  }

  .heroHeadingBanner {
    font-size: 2.5rem;
  }

  .heroHeadingSecondary {
    font-size: 1.6rem;
  }

  .heroSection {
    padding: 0 0 5rem 0;
  }
}
