/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7d4bd5;
  --ifm-color-primary-dark: #7244c1;
  --ifm-color-primary-darker: #673eaf;
  --ifm-color-primary-darkest: #4d2e83;
  --ifm-color-primary-light: #9c6eec;
  --ifm-color-primary-lighter: #ad89ec;
  --ifm-color-primary-lightest: #c0a4f1;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
