name: Validate

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install -g yarn
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: git status
      - name: Check for changes
        run: |
          if [ $(git status --porcelain | wc -l) -ne 0 ]; then
            echo "::error::Changes detected (modified or added files)"
            exit 1
          fi
      - run: yarn validate
        env:
          CI: true
